{
  "tabWidth": 2,
  "useTabs": false,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^[components|views|styles]",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
